## Importacao das bibliotecas e chamada do spark

In [3]:
from pyspark.sql import SparkSession, DataFrame, functions as F
from pyspark.sql.types import DoubleType, StringType
from typing import Union, List

spark = SparkSession.builder\
                    .master('local[*]')\
                    .appName('Iniciando com spark')\
                    .getOrCreate()

## Leitura dos arquivos

In [4]:
socios           = spark.read.csv('/Users/tuanymariah/Documents/estudos_pyspark/data/socios', sep = ';', inferSchema = True)
empresas         = spark.read.csv('/Users/tuanymariah/Documents/estudos_pyspark/data/empresas', sep = ';', inferSchema = True)
estabelecimentos = spark.read.csv('/Users/tuanymariah/Documents/estudos_pyspark/data/estabelecimentos', sep = ';', inferSchema = True)

## Manipulacao dos dados

In [5]:
print('printando o dataframde socios')
socios.limit(5).show(truncate=False)

print('printando o dataframde empresas')
empresas.limit(5).show(truncate=False)

print('printando o dataframde estabelecimentos')
estabelecimentos.limit(5).show(truncate=False)

printando o dataframde socios
+-----+---+-------------------------------+-----------+---+--------+----+-----------+----+---+----+
|_c0  |_c1|_c2                            |_c3        |_c4|_c5     |_c6 |_c7        |_c8 |_c9|_c10|
+-----+---+-------------------------------+-----------+---+--------+----+-----------+----+---+----+
|411  |2  |LILIANA PATRICIA GUASTAVINO    |***678188**|22 |19940725|null|***000000**|null|0  |7   |
|411  |2  |CRISTINA HUNDERTMARK           |***637848**|28 |19940725|null|***000000**|null|0  |7   |
|5813 |2  |CELSO EDUARDO DE CASTRO STEPHAN|***786068**|49 |19940516|null|***000000**|null|0  |8   |
|5813 |2  |EDUARDO BERRINGER STEPHAN      |***442348**|49 |19940516|null|***000000**|null|0  |5   |
|14798|2  |HANNE MAHFOUD FADEL            |***760388**|49 |19940609|null|***000000**|null|0  |8   |
+-----+---+-------------------------------+-----------+---+--------+----+-----------+----+---+----+

printando o dataframde empresas
+----+--------------------------------------------------------------------------------------------+----+---+-------+---+----+
|_c0 |_c1                                                                                         |_c2 |_c3|_c4    |_c5|_c6 |
+----+--------------------------------------------------------------------------------------------+----+---+-------+---+----+
|306 |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240|49 |0,00   |1  |null|
|1355|BRASILEIRO & OLIVEIRA LTDA                                                                  |2062|49 |0,00   |5  |null|
|4820|REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034|32 |0,00   |5  |null|
|5347|ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135|50 |0,00   |5  |null|
|6846|BADU E FILHOS TECIDOS LTDA                                                                  |2062|49 |4000,00|1  |null|
+----+--------------------------------------------------------------------------------------------+----+---+-------+---+----+

printando o dataframde estabelecimentos
+----+---+---+---+-----------------+---+--------+---+----+----+--------+-------+----+----+----------------------+----+-------+------------------+-------+----+----+----+----+----+----+----+----+----+----+----+
|_c0 |_c1|_c2|_c3|_c4              |_c5|_c6     |_c7|_c8 |_c9 |_c10    |_c11   |_c12|_c13|_c14                  |_c15|_c16   |_c17              |_c18   |_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|_c29|
+----+---+---+---+-----------------+---+--------+---+----+----+--------+-------+----+----+----------------------+----+-------+------------------+-------+----+----+----+----+----+----+----+----+----+----+----+
|1879|1  |96 |1  |PIRAMIDE M. C.   |8  |20011029|1  |null|null|19940509|1412602|null|RUA |JOSE FIGLIOLINI       |608 |null   |VILA NILO         |2278020|SP  |7107|null|null|null|null|null|null|null|null|null|
|2818|1  |43 |1  |null             |8  |20081231|71 |null|null|19940512|4671100|null|RUA |BAQUIA                |416 |null   |VL NOVA MANCHESTER|3443000|SP  |7107|null|null|null|null|null|null|null|null|null|
|3110|1  |7  |1  |null             |8  |19971231|1  |null|null|19940512|4789007|null|RUA |LEOCADIA CINTRA       |180 |CONJ 83|MOOCA             |3112040|SP  |7107|null|null|null|null|null|null|null|null|null|
|3733|1  |80 |1  |null             |8  |20081231|71 |null|null|19940513|7490101|null|RUA |AFONSO CELSO          |1102|CASA 1 |VILA MARIANA      |4119061|SP  |7107|null|null|null|null|null|null|null|null|null|
|4628|3  |27 |2  |EMBROIDERY & GIFT|8  |19980429|1  |null|null|19950509|4755501|null|RUA |DOUTOR GABRIEL NICOLAU|177 |null   |RUDGE RAMOS       |9632040|SP  |7075|null|null|null|null|null|null|null|null|null|
+----+---+---+---+-----------------+---+--------+---+----+----+--------+-------+----+----+----------------------+----+-------+------------------+-------+----+----+----+----+----+----+----+----+----+----+----+

## Renomeando colunas do dataframe

In [6]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']
estabsColNames   = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']
sociosColNames   = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

def column_renaming(list_cols: list, df:DataFrame) -> DataFrame:
    for index, colName in enumerate(list_cols,):
        df = df.withColumnRenamed(f"_c{index}", colName)
    
    return df

empresas = column_renaming(empresasColNames, empresas)
estabelecimentos = column_renaming(estabsColNames, estabelecimentos)
socios = column_renaming(sociosColNames, socios)

print('printando o dataframde socios')
socios.limit(5).show(truncate=False)

print('printando o dataframde empresas')
empresas.limit(5).show(truncate=False)

print('printando o dataframde estabelecimentos')
estabelecimentos.limit(5).show(truncate=False)

printando o dataframde socios
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social  |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|411        |2                     |LILIANA PATRICIA GUASTAVINO    |***678188**         |22                   |19940725                 |null|***000000**        |null                 |0                                  |7           |
|411        |2                     |CRISTINA HUNDERTMARK           |***637848**         |28                   |19940725                 |null|***000000**        |null                 |0                                  |7           |
|5813       |2                     |CELSO EDUARDO DE CASTRO STEPHAN|***786068**         |49                   |19940516                 |null|***000000**        |null                 |0                                  |8           |
|5813       |2                     |EDUARDO BERRINGER STEPHAN      |***442348**         |49                   |19940516                 |null|***000000**        |null                 |0                                  |5           |
|14798      |2                     |HANNE MAHFOUD FADEL            |***760388**         |49                   |19940609                 |null|***000000**        |null                 |0                                  |8           |
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

printando o dataframde empresas
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                               |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|306        |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                         |0,00                     |1               |null                       |
|1355       |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                         |0,00                     |5               |null                       |
|4820       |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                         |0,00                     |5               |null                       |
|5347       |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                         |0,00                     |5               |null                       |
|6846       |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                         |4000,00                  |1               |null                       |
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

printando o dataframde estabelecimentos
+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia    |situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|logradouro            |numero|complemento|bairro            |cep    |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax |correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+
|1879       |1         |96     |1                          |PIRAMIDE M. C.   |8                 |20011029               |1                        |null                      |null|19940509                |1412602              |null                  |RUA               |JOSE FIGLIOLINI       |608   |null       |VILA NILO         |2278020|SP |7107     |null |null      |null |null      |null      |null|null              |null             |null                     |
|2818       |1         |43     |1                          |null             |8                 |20081231               |71                       |null                      |null|19940512                |4671100              |null                  |RUA               |BAQUIA                |416   |null       |VL NOVA MANCHESTER|3443000|SP |7107     |null |null      |null |null      |null      |null|null              |null             |null                     |
|3110       |1         |7      |1                          |null             |8                 |19971231               |1                        |null                      |null|19940512                |4789007              |null                  |RUA               |LEOCADIA CINTRA       |180   |CONJ 83    |MOOCA             |3112040|SP |7107     |null |null      |null |null      |null      |null|null              |null             |null                     |
|3733       |1         |80     |1                          |null             |8                 |20081231               |71                       |null                      |null|19940513                |7490101              |null                  |RUA               |AFONSO CELSO          |1102  |CASA 1     |VILA MARIANA      |4119061|SP |7107     |null |null      |null |null      |null      |null|null              |null             |null                     |
|4628       |3         |27     |2                          |EMBROIDERY & GIFT|8                 |19980429               |1                        |null                      |null|19950509                |4755501              |null                  |RUA               |DOUTOR GABRIEL NICOLAU|177   |null       |RUDGE RAMOS       |9632040|SP |7075     |null |null      |null |null      |null      |null|null              |null             |null                     |
+-----------+----------+-------+---------------------------+-----------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+----------------------+------+-----------+------------------+-------+---+---------+-----+----------+-----+----------+----------+----+------------------+-----------------+-------------------------+

## Analisando os dados após as renomeação das colunas

In [7]:
empresas.printSchema()
estabelecimentos.printSchema()
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

## Convertendo colunas
### String -> Double

In [8]:
def convert_double(cols: List[str], df:DataFrame) -> DataFrame:
    for col in cols:
        df = df\
            .withColumn(
                col,
               F.regexp_replace(F.col(col), ',','.').cast(DoubleType())
                        
            )
    return df
empresas = convert_double(cols = ['capital_social_da_empresa'], df = empresas)
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

### String -> Date

In [9]:
def convert_date(cols: List[str], df:DataFrame) -> DataFrame:
    for col in cols:
        df = df\
            .withColumn(
                col,
                F.to_date(F.col(col).cast(StringType()), 'yyyyMMdd')
                        
            )
    return  df
    

estabelecimentos = convert_date(cols = ['data_de_inicio_atividade', 'data_situacao_cadastral', 'data_da_situacao_especial'], df = estabelecimentos )  
socios = convert_date(cols = ['data_de_entrada_sociedade'], df = socios )

## Selecoes e consultas

primeiro irei realizar a selecao de consultas utilizando o *select* do pyspark, após isso criarei uma coluna utilizando o *withColumns*

In [10]:
socios\
    .select(F.col('cnpj_basico'), 
            F.col('data_de_entrada_sociedade'),
            F.year(F.col('data_de_entrada_sociedade')).alias('ano_entrada_sociedade')
            )\
    .show(5, truncate=False)

+-----------+-------------------------+---------------------+
|cnpj_basico|data_de_entrada_sociedade|ano_entrada_sociedade|
+-----------+-------------------------+---------------------+
|411        |1994-07-25               |1994                 |
|411        |1994-07-25               |1994                 |
|5813       |1994-05-16               |1994                 |
|5813       |1994-05-16               |1994                 |
|14798      |1994-06-09               |1994                 |
+-----------+-------------------------+---------------------+
only showing top 5 rows

criacao da coluna **ano_entrada_sociedade** utilizando o **withColumn**

In [11]:
socios = socios\
            .withColumn(
                'ano_entrada_sociedade', F.year(F.col('data_de_entrada_sociedade'))
            )

## Verificando valores nulos

In [12]:
def qtd_valores_nulos(df: DataFrame ) -> DataFrame:
    df = df.select([ F.count(F.when(F.isnull(col), 1)).alias(col) for col in df.columns])
    return df
print('Quantidade de valores nulos para estabelecimentos')
nulos_estabelecimento = qtd_valores_nulos(df = estabelecimentos)
nulos_estabelecimento.show()

print('Quantidade de valores nulos para empresas')
nulos_empresas = qtd_valores_nulos(df = empresas)
nulos_empresas.show()

print('Quantidade de valores nulos para socios')
nulos_socios = qtd_valores_nulos(df = socios)
nulos_socios.show()

Quantidade de valores nulos para estabelecimentos
+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+-------+------------------------+---------------------+----------------------+------------------+----------+------+-----------+------+-----+---+---------+-------+----------+-------+----------+----------+-------+------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|   pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|logradouro|numero|complemento|bairro|  cep| uf|municipio|  ddd_1|telefone_1|  ddd_2|telefone_2|ddd_do_fax|    fax|correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+-------+------------------------+---------------------+----------------------+------------------+----------+------+-----------+------+-----+---+---------+-------+----------+-------+----------+----------+-------+------------------+-----------------+-------------------------+
|          0|         0|      0|                          0|      2014706|                 0|                  16195|                        0|                   4833519|4823786|                       1|                    0|               2780434|             91499|       193|     0|    2831800| 37964|15033|  0|        0|1251627|   1251623|4424413|   4425166|   4132454|4131990|           2304672|          4836208|                  4836208|
+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+-------+------------------------+---------------------+----------------------+------------------+----------+------+-----------+------+-----+---+---------+-------+----------+-------+----------+----------+-------+------------------+-----------------+-------------------------+

Quantidade de valores nulos para empresas
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|          0|                            0|                0|                          0|                        0|            5985|                    4579678|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

Quantidade de valores nulos para socios
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+---------------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|ano_entrada_sociedade|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+---------------------+
|          0|                     0|                          208|                1234|                    0|                        1|2038255|                  0|              1995432|                                  0|           0|                    1|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+---------------------+

In [13]:
estabelecimentos.select(F.col('pais'),
                        F.col('uf'))\
                .where(F.col('pais').isNotNull())\
                .show(5)

+----+---+
|pais| uf|
+----+---+
| 351| EX|
|  23| EX|
| 845| EX|
| 137| EX|
| 580| EX|
+----+---+
only showing top 5 rows

In [14]:
estabelecimentos = estabelecimentos.withColumn('pais',
                                 F.when((F.col('uf').isin([
                                     'AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS',
                                     'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC',
                                     'SE', 'SP', 'TO']
                                 )) & F.col('pais').isNull(), '55')
                                 .otherwise(F.col('pais')))

In [15]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [16]:
df_all = empresas.join(estabelecimentos, on = 'cnpj_basico' , how = 'inner')

In [17]:
df_all.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

A partir do select utilizando pyspark abaixo, podemos observar que algumas empresas possuem valores iguais a 0.0 no capital social da empresa,
vamos filtrar esses registros por valores acima de 100?

In [18]:
df_all.select(F.col('razao_social_nome_empresarial'), 
              F.col('nome_fantasia'),
              F.col('porte_da_empresa'),
              F.col('capital_social_da_empresa'))\
      .show(5,truncate = False)

+-------------------------------------------------------------+-------------+----------------+-------------------------+
|razao_social_nome_empresarial                                |nome_fantasia|porte_da_empresa|capital_social_da_empresa|
+-------------------------------------------------------------+-------------+----------------+-------------------------+
|PLANNER COMUNICACAO PUBLICIDADE E ASSESSORIA PROMOCIONAL LTDA|null         |5               |0.0                      |
|ROUPA VIVA SERVICOS DE LAVANDERIA LTDA                       |null         |5               |0.0                      |
|IN FOCO PRODUCOES FOTOGRAFICAS S/S LTDA                      |null         |1               |500.0                    |
|CLINICA ROMA S/C LTDA                                        |null         |5               |0.0                      |
|APRENDENDO A VIVER E CRESCER                                 |null         |5               |0.0                      |
+-------------------------------------------------------------+-------------+----------------+-------------------------+
only showing top 5 rows

In [19]:
df_all\
    .select(F.col('razao_social_nome_empresarial'), 
            F.col('nome_fantasia'),
            F.col('porte_da_empresa'),
            F.col('capital_social_da_empresa'))\
    .where(F.col('capital_social_da_empresa')>100)\
    .show(truncate = False)

+--------------------------------------------------+----------------------------------+----------------+-------------------------+
|razao_social_nome_empresarial                     |nome_fantasia                     |porte_da_empresa|capital_social_da_empresa|
+--------------------------------------------------+----------------------------------+----------------+-------------------------+
|IN FOCO PRODUCOES FOTOGRAFICAS S/S LTDA           |null                              |1               |500.0                    |
|CENTRAL LUB COMERCIO DE OLEO E REPRESENTACOES LTDA|null                              |1               |650000.0                 |
|AMERICO REGATIERI NETO REPRESENTACOES             |null                              |1               |5000.0                   |
|TECBATERY ESCOLA LIVRE DE MUSICA LTDA             |null                              |1               |5000.0                   |
|COMERCIAL FREITAS & VIEIRA LTDA                   |EMBALAGENS SERLUZ                 |1               |1000.0                   |
|ETAMINE CONFECCOES E COMERCIO LTDA                |null                              |1               |1092.0                   |
|SERRALHERIA CHUBA LTDA                            |null                              |1               |20000.0                  |
|TRANSPORTES LAURO VERONEZI EIRELI                 |null                              |3               |100000.0                 |
|TRANSPORTES LAURO VERONEZI EIRELI                 |TRANSPORTES LAURO VERONEZI LTDA ME|3               |100000.0                 |
|TRANSPORTES LAURO VERONEZI EIRELI                 |null                              |3               |100000.0                 |
|RAMIRES BIRIGUI EIRELI                            |null                              |1               |100000.0                 |
|MCH IMOVEIS E ADMINISTRACAO LTDA                  |MCH IMOVEIS                       |1               |5000.0                   |
|URBANIZA LOTEADORA E INCORPORADORA LIMITADA       |null                              |1               |364.0                    |
|PAULA FERREIRA COMERCIAL LTDA                     |null                              |3               |200000.0                 |
|MILTON ALVES DA SILVA MADEIRAS                    |null                              |1               |15000.0                  |
|CELIO APARECIDO DE JESUS LANCHONETE               |ISAUE                             |1               |15000.0                  |
|BIKELANDO MONTADORA DE BICICLETAS EIRELI          |null                              |5               |150000.0                 |
|HARBS ETIQUETAS COMERCIAL LTDA                    |null                              |3               |10000.0                  |
|REBIC COMERCIAL LIMITADA                          |REBIC                             |5               |2.5836239E7              |
|REBIC COMERCIAL LIMITADA                          |REBIC COMERCIAL LTDA              |5               |2.5836239E7              |
+--------------------------------------------------+----------------------------------+----------------+-------------------------+
only showing top 20 rows